{% extends 'base.html' %}
{% block title %}Задачи{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
    {% for plan in task_list %}
          <div class="col-md-6 mb-3">
            <div class="card task-card">
              <div class="card-body">
                <a href="{% url 'plan:detail' plan.id %}"><h5 class="card-title">{{ plan.title }} </h5></a>
                <p class="card-text">{{ plan.category__title }}</p>
                <p class="card-text"><strong>{{ plan.priority__title }}</strong></p>
                <span class="badge bg-info">In Progress</span>
              </div>
            </div>
          </div>
    {% endfor %} 
    </div>
  </div>
{% endblock %}